@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: rgb(0, 0, 0);
	color: white;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

ul p {
	display: inline-block;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
}

ol p {
	display: inline-block
}